.wrapper {
  height: 60px;
  width: 100vw;
  // glass
  background: rgba(0, 0, 0, 0.57);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.17);
  z-index: 1;
}

.container {
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fffefe;
}

.navWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.navItem {
  margin-right: 1rem;
}

.btnWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  & > a {
    margin-left: 1rem;
  }
}
